<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add name="ApplicationDbContext" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=aspnet-VideoRent-E7836CEF-0A58-485F-A088-27FCE23B20C1; integrated security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>