@model IEnumerable<VideoRent.Models.Movie>
@{ 
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<br />
@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}

<!-- TODO: "Add Movie" button -->

<table class="table table-bordered table-hover" style="width:40%">
    <thead>
        <tr>
            <th style="text-align:center">Movie</th>
            <th style="width:15%; text-align:center">Genre</th>
            <th style="width:35%; text-align:center">Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>    <!-- TODO: click on name to edit movie -->
                <td style="text-align:center">@movie.Genre.Name</td>
                <td>@movie.NumberAvailable</td>
            </tr>
        }
    </tbody>
</table>