@model IEnumerable<VideoRent.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
<br />
<table class="table table-bordered table-hover" style="width:40%">
    <thead>
        <tr>
            <th style="text-align:center">Customer</th>
            <th style="width:15%; text-align:center">Discount Rate</th>
            <th style="width:35%; text-align:center">Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td style="text-align:center">@customer.MembershipType.DiscountRate%</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>